.product {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.productImg {
  height: 180px;
  background-color: #f2f2f2;
  display: block;
}

.productImg img {
  height: 100%;
  width: 100%;
}

.product h2 {
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
}

.product h3 {
  font-size: 13px;
}

.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}

.wishlistBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wishlistBtn:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
}
