.product {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImg img {
  height: 180px;
  background-color: #f2f2f2;
  display: block;
}

.product h2 {
  font-size: 15px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
}

.product h3 {
  font-size: 13px;
}
