.categoryImg {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.categoryImg img {
  width: 100%;
}

.category a {
  text-decoration: none;
  color: black;
}

.category a:hover {
  text-decoration: underline;
}

.categoryTitle {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
